* {
    box-sizing: border-box;
}


html {
    background-color: var(--clr1);
    font-family: lato, sans-serif;
    /* line-height: 1.5; */
    color: var(--clr6);
    position: relative;

}
body {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

p {
    text-align: left;
    letter-spacing: 0.48px;
    line-height: 1.25rem;
    font-size: 1rem;
    margin: 0 25px 35px 0;
}

h1{
    color: var(--clr7);
    margin: 0 60px 32px  0;
    line-height: 1.875rem;
    font-size:1.75rem ;

}

