 :root {

    --clr14:#58c93a;
    --clr13:#1d1d1d;
    --clr12:#516fad;
    --clr11:#e5e5e5;
    --clr10:#1e1e1e;
    --clr9:#c2c1c1;
   --clr8: #292929;
   --clr7: #4f4e4e;
   --clr6: #606060;
   --clr5: #818181;
   --clr4: #a6a6a6;
   --clr3: #e1e0e0;
   --clr2: #c2c2c2;
    --clr1: #ffffff;
    --clr0: #64cd49;
    --clr-1: #f8f8f8;
} 
